{% load i18n %}
<div class="panel-group" id="permissions-body">
  <!-- view layer -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          {% trans "Who can view it?" %}
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="controls">
        <div class="radio">
          <label>
            <input type="checkbox" name="view_anonymous" id="perms_view_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_VIEW_PERMISSION %}checked{% endif %}>
            {% trans "Anyone" %}
          </label>
        </div>
        <div class="radio">
          <label>
            {% trans "The following users:" %}
            <input class="user-select" type="text" name="view_activation" id="view_resourcebase_users" />
          </label>
        </div>
        <div class="radio">
          <label>
            {% trans "The following groups:" %}
            <input class="group-select" type="text" name="view_activation" id="view_resourcebase_groups" />
          </label>
        </div>
      </div>
    </div>
  </div>
