{% verbatim %}
  <article ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak col-md-8 activation-article" ng-controller="ActivationController">
    <div class="row items-list">
      <div class="col-xs-10 item-info">
        <h4><a href="/activations/{{ item.activation_id }}">{{ item.activation_id }} 
          {{ item.disaster_type.name }} in <span ng-repeat="region in item.regions">
          <span ng-if="$first">{{ region.name }} </span>
          <span ng-if="$middle">, {{ region.name }}</span>
          <span ng-if="$last && $index != 0">and {{ region.name }}</span>
        </span> </a></h4>
        <div class="actions">
          <p class="col-xs-5"><i class="fa fa-warning"></i>{{ item.disaster_type.name }}</p>
          <p class="col-xs-5"><i class="fa fa-calendar-o"></i>{{ item.event_time|date }}</p>
        </div> 
      </div>
      <div class="col-xs-2 item-info">
        <button class="btn btn-s pull-right" ng-init="toggled = false" ng-class="toggled ? 'btn-info' : 'btn-default'" ng-click="toggled = !toggled" data-toggle="collapse" data-target="#layers-list-{{ item.id }}">Show Map Sets</button>
      </div>
    </div>
    <button ng-if="has_map" type="button" class="btn-xs btn btn-info" ng-click="zoomToActivation(item.id)">Zoom all</button>
    <button ng-if="has_map" type="button" ng-init="action = true" class="btn-xs btn btn-info" ng-click="toggleActivationLayers(action, item.id); action = !action" ng-bind-html="action == true ? 'Show all layers' : 'Hide all layers'"></button>
    <div class="collapse" id="layers-list-{{ item.id }}">
      <div class="list-group">
        <layer-switcher ng-controller="LayerSwitcherController"></layer-switcher>
      </div>
    </div>
  </article>
{% endverbatim %}
