{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Activations" %} - {{ block.super }} {% endblock %}

{% block body_class %}activations explore{% endblock %}

{% block body %}
<div class="page-header">
  <h2 class="page-title">{% trans "Explore Activations" %}</h2>
</div>
  {% with facet_type='activations' %}
  {% include "search/_act_search_content.html" %}
  {% endwith %}

{% endblock %}
{% block extra_script %}
  
  <script type="text/javascript">
    SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='activations' %}';
    FILTER_TYPE = 'activations';
  </script>
  <script src="{% static "js/app/scripts/controllers/act_list.js" %}"></script>
  {% with include_spatial='true' %}
  {% include 'search/act_search_scripts.html' %}
  {% endwith %}

{% endblock extra_script %}
