{% extends "site_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load staticfiles %}

{% block title %}{{ activation.activation_id|default:activation.activation_id }} — {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}


{% block body_class %}activations{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">{{ activation.activation_id }} {{ activation.disaster_type }} in 
    {% for region in activation.regions.all %}
    {% if forloop.first %}
    {{ region.name }}
    {% elif not forloop.first and not forloop.last %}
    , {{ region.name }}
    {% elif forloop.last %}
     and {{ region.name }}
    {% endif %}
    {% endfor %}
  </h2>
</div>
<div id="fullscreen-map"></div>
<div class="row" ng-controller="ActivationController">
  <div id="activation_info" class="col-md-3">
    {% include "activation_info_table.html" %}
    {% if related_maps.count > 0 %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Related Maps</th>
        </tr>
      </thead>
      <tbody>
        {% for map in related_maps %}
        <tr>
          <td><a href="{{ map.detail_url }}" target="_blank">{{ map.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  {% verbatim %}
  <div class="map col-md-5" ng-controller="MapCtrl">
    <openlayers ol-center="center" ol-defaults="defaults" custom-layers="true">
      <ol-control name="{{ control.name }}" ng-repeat="control in controls|filter: {active: true}"></ol-control>
      <ol-layer ol-layer-properties="osm"></ol-layer>
    </openlayers>
  </div>
  {% endverbatim %}
  <div id="map_products" class="col-md-4" ng-controller="CartList">
    <resource-cart></resource-cart>
    <div class="col-md-12">
      <h3 class="col-md-7">Map Sets</h3>
      <div id="activation-buttons">
        <button type="button" class="btn-xs btn btn-info" ng-click="zoomToActivation({{ activation.id }})">Zoom</button>
        <button type="button" ng-init="action = true" class="btn-xs btn btn-info" ng-click="toggleActivationLayers(action, {{ activation.id }}); action = !action" ng-bind-html="action == true ? 'Show all layers' : 'Hide layers'"></button>
      </div>
      <layer-switcher></layer-switcher>
      {% if external_layers.count > 0 %}
      <h3>External layers</h3>
      <table class="table table-striped table-bordered">
        <tbody>
          {% for ext_l in external_layers %}
          <tr>
            <td>{{ ext_l.title }}
            <span ng-init="on_map_{{ext_l.id }} = false" ng-class="on_map_{{ext_l.id }} ? 'fa-map-o' : 'fa-map'" class="btn btn-default btn-xs pull-right fa" ng-click="toggleExternalLayer('{{ ext_l.url }}', '{{ ext_l.layer_name }}'); on_map_{{ext_l.id }}=!on_map_{{ext_l.id }}" title="Add/remove from map">
            </span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div> <!-- col-md-4 -->
</div> <!-- row -->
{% endblock %}

{% block extra_script %}
    <!-- <script src="{% static "js/app/bower_components/angular/angular.js" %}"></script>
    <script src="{% static "js/app/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}"></script>-->

    <script type="text/javascript">
      // Common constants
      GEOSERVER_PUBLIC_URL = "{{ GEOSERVER_BASE_URL }}";
      MAP_INITIAL_CENTER = [{{ act_lat }}, {{ act_lon }}];
    </script>
    <script src="{% static "js/app/bower_components/openlayers3/ol-debug.js" %}"></script>
    <script src="{% static "js/app/bower_components/angular-sanitize/angular-sanitize.min.js" %}"></script>
    <script src="{% static "js/app/bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.js" %}"></script>
    <link rel="stylesheet" href="{% static "js/app/bower_components/openlayers3/ol.css" %}" />
    <link rel="stylesheet" href="{% static "js/app/bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.css" %}" />
    <script src="{% static "js/app/scripts/services/map_services.js" %}"></script>
    <script src="{% static "js/app/scripts/services/activation_services.js" %}"></script>
    <script src="{% static "js/app/scripts/controllers/map_controller.js" %}"></script>
    <script src="{% static "js/app/scripts/directives/layers_switcher.js" %}"></script>
    <script src="{% static "js/app/scripts/controllers/layers_switcher_controller.js" %}"></script>
    <script src="{% static "js/app/scripts/controllers/act_detail.js" %}"></script>
    <script src="{% static "js/app/scripts/controllers/cart.js" %}"></script>
    <script type="text/javascript">
      var module = angular.module('act_map', ['map_controller', 'activation_controller', 'cart', 'layers_switcher_controller', 'layers_switcher_directive']);
      module.constant('ActData', {
        activation_id: {{ activation.id }},
        full_bbox: [{{ activation.bbox_x0 }}, {{ activation.bbox_y0 }}, {{ activation.bbox_x1 }}, {{ activation.bbox_y1 }}]        
      });
      module.constant('Configs', {
        geoserver_public_url: "{{ GEOSERVER_BASE_URL }}"
      });

      // workaround for fullscreen mode
      function switchFullscreen(){
        var viewport = $('.angular-openlayers-map').first();
        if(viewport.hasClass('map-fullscreen')){
          viewport.removeClass('map-fullscreen');
          $('#map_products').removeClass('fullscreen');
        }else{
          viewport.addClass('map-fullscreen');
          $('#map_products').addClass('fullscreen');
        } 
      };

      document.addEventListener("webkitfullscreenchange", function(evt) {
        switchFullscreen();
      });

      document.addEventListener('mozfullscreenchange', function(evt){
        switchFullscreen();
      });
      
      angular.bootstrap(document, ['act_map']);
    </script>
    
    {% if GEONODE_SECURITY_ENABLED %}
    {% include "_act_permissions_form_js.html" %}
    {% endif %}
{% endblock extra_script %}
