{% extends "site_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load staticfiles %}

{% block title %}{{ activation.activation_id|default:activation.activation_id }} — {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}


{% block body_class %}activations{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">Activation: {{ activation.activation_id }}</h2>
</div>

<div class="row">
  {% verbatim %}
  <div class="map col-md-8" ng-controller="MapCtrl">
    <div id="feature-info" class="panel">
      <table class="table table-striped feature-info-table" ng-repeat="feature in feature_info" ng-cloak>
        <thead>
          <tr>
            <th>{{ feature.id.split('.')[0] }}</th>
            <th ng-repeat="prop in feature.properties_keys">{{prop}}</th>
          </tr>
        </thead>
        <tbody>
          <td>{{ feature.id.split('.')[1] }}</td>
          <td ng-repeat="prop in feature.properties">{{prop}}</td>
        </tbody>
      </table>
    </div>
    <openlayers ol-center="center">
      <ol-control name="{{ control.name }}" ng-repeat="control in controls|filter: {active: true}"></ol-control>
    </openlayers>
  </div>
  {% endverbatim %}
  <div class="col-md-4" ng-controller="CartList">
    <resource-cart></resource-cart>
    <div id="map_products" class="col-md-12" ng-controller="ActivationController">
      <h3>Map Products</h3>
      <snippet-modal></snippet-modal>
    </div>
  </div> <!-- col-md-4 -->
</div> <!-- row -->
{% endblock %}

{% block extra_script %}
    <!-- <script src="{% static "js/app/bower_components/angular/angular.js" %}"></script>
    <script src="{% static "js/app/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}"></script>-->
    <script src="{% static "js/app/bower_components/openlayers3/build/ol-debug.js" %}"></script>
    <script src="{% static "js/app/bower_components/angular-sanitize/angular-sanitize.min.js" %}"></script>
    <script src="{% static "js/app/bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.js" %}"></script>
    <link rel="stylesheet" href="{% static "js/app/bower_components/openlayers3/build/ol.css" %}" />
    <link rel="stylesheet" href="{% static "js/app/bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.css" %}" />
    <script src="{% static "js/app/scripts/controllers/act_detail.js" %}"></script>
    <script src="{% static "js/app/scripts/controllers/cart.js" %}"></script>
    <script type="text/javascript">
      var module = angular.module('act_map', ['openlayers-directive', 'map_controller', 'activation_controller', 'query_activation', 'cart']);
      module.constant('ActData', {
        activation_id: {{ activation.id }}
      })
      angular.bootstrap(document, ['act_map']);
      GEOSERVER_PUBLIC_URL = "{{ GEOSERVER_BASE_URL }}";
    </script>
    
    {% if GEONODE_SECURITY_ENABLED %}
    {% include "_act_permissions_form_js.html" %}
    {% endif %}
{% endblock extra_script %}
