<table class="table table-bordered col-md-12">
  <tr>
    <td>
      <strong>Event Time (UTC): </strong>
      {{ activation.event_time_utc|date:"Y-m-d P" }}
    </td>
    <td>
      <strong>Event Time (LOC): </strong>
     {{ activation.event_time|date:"Y-m-d P" }}
    </td>
    <td>
      <strong>Event Type: </strong>
     {{ activation.disaster_type }}
    </td>
    <td>
      <strong>Activation Time (UTC): </strong>
     {{ activation.activation_time|date:"Y-m-d P" }}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Reference maps: </strong>
     {{ maps_count.reference }}
    </td>
    <td>
      <strong>Delineation maps: </strong>
     {{ maps_count.delineation }}
    </td>
    <td>
      <strong>Grading maps: </strong>
     {{ maps_count.grading }}
    </td>
    <td>
      <strong>Affected Countries: </strong>
     {% for region in activation.regions.all %}
      {{ region.name }}  
      {% endfor %}
    </td>
  </tr>
</table>