body{
  background-color: rgba(115, 115, 115, 0.5);
}

.appBar{
    background-color: rgba(250, 167, 63, 0.5) !important;
}

.appBar h1{
  cursor: pointer;
  max-width: 500px;
  color:  rgb(189, 189, 189) !important;
}

.appBarMenu{
  padding-top: 10px;
}

.appBarMenu > div{
  background-color: rgba(0, 151, 167, 0) !important;

}

.appBarTab{
  min-width: 200px;
  color:  rgb(189, 189, 189) !important;
}
