{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    ["react-intl", {
        "messagesDir": "./build/messages/",
        "enforceDescriptions": true
    }]
  ]
}
