body{
    margin: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
    height: 464px;
    margin-top: -64px;
}

#ec-logo{
    position: absolute;
    top: 64px;
    left: 0;
    background: rgba(166, 166, 166, .5) url('http://localhost:8000/static/img/ec_logo_neg.png') no-repeat 5px 0;
    width: 296px;
    height: 84px;
    z-index: 100000;
    pointer-events: none;
}

#title{
    position: absolute;
    top: 84px;
    left: 40%;
    z-index: 100000;
    color: #737373;
    font-size: 20px;
    font-weight: 200;
    pointer-events: none;
}

#latest_activations{
    margin-top: 10px;
}

.act_snippet_selected{
    box-shadow: 0 0 7px 5px rgba(255, 194, 102, 0.8);
    transition: all 200ms ease-out;
    border-radius: 2px;
}

.activationsSearch{
    position: absolute !important;
    top: 421px;
    background-color: rgba(255, 255, 255, 0.55) !important;
    height: 43px !important;
    border-radius: 3px 3px 0 0;
}

.activationsSearch label{
    top: 8px !important;
}

.activationsSearch input{
    margin-top: 0px !important;
}

.activationsSearch div:nth-child(4) hr:nth-child(2){
    border-top: none rgb(255, 166, 77) !important;
    border-right: none rgb(255, 166, 77) !important;
    border-bottom: 2px solid rgb(255, 166, 77) !important;
}
