body{
    margin: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
    height: 50%;
    min-height: 300px;
    max-height: 640px;
    margin-top: -64px;
}

#ec-logo{
    position: absolute;
    top: 64px;
    background: rgba(166, 166, 166, .5) url('http://localhost:8000/static/img/ec_logo_neg.png') no-repeat 24px 5px;
    width: 296px;
    height: 90px;
    z-index: 100000;
    pointer-events: none;
    padding-right: 48px;
}

#title{
    position: absolute;
    top: 84px;
    left: 60%;
    z-index: 100000;
    color: #989898;
    font-size: 20px;
    font-weight: 200;
    pointer-events: none;
    padding: 24px;
}

#latest_activations{
    margin-top: 10px;
    padding-top: 24px;
    padding: 14px;
}

.act_snippet_selected{
    box-shadow: 0 0 7px 5px rgba(255, 194, 102, 0.8);
    transition: all 200ms ease-out;
    border-radius: 2px;
}

.activationsSearch{
    margin-top: -67px;
    background-color: rgba(255, 255, 255, 0.55) !important;
    height: 43px !important;
    border-radius: 3px 3px 0 0;
}

.activationsSearch label{
    top: 8px !important;
}

.activationsSearch input{
    margin-top: 0px !important;
}

.activationsSearch div:nth-child(4) hr:nth-child(2){
    border-top: none rgb(250, 167, 63) !important;
    border-right: none rgb(250, 167, 63) !important;
    border-bottom: 2px solid rgb(250, 167, 63) !important;
}

.snippetTitle{
    cursor: pointer;
}
