<!-- tablist -->
<!-- ng-init used to integrate with the geonode search engine that is returning item. In our activation detail page we use activation instead -->
  
  <div ng-repeat="map_set in item.map_sets" class="list-group-item map-set" id="activation-list-{{item.id}}">
    <h4 class="list-group-item-heading">
      <i ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-class="isCollapsed ? 'fa fa-chevron-right' : 'fa fa-chevron-down'"><a data-target="#map_product_list_{{ map_set.id }}" data-toggle="collapse" class="ms-title panel-title" data-parent="#map-set-list">{{ map_set.name }}</a></i>
    </h4>

    <!-- tabpanel -->
    <div id="map_product_list_{{ map_set.id }}" class="list-group collapse map-product-list" role="tabpanel">    
      <div ng-repeat="map_product in map_set.map_products" class="list-group-item map-product">
        <ng-include src="'/static/js/app/templates/_map_products.html'"></ng-include>
      </div>
    </div> <!-- list-group -->
  </div> <!--list-group-item -->
