<div class="map-set panel panel-group" role="tablist" id="map-set-list">
  <div ng-repeat="map_set in item.map_sets" class="panel panel-default">
    <div class="panel-heading mp-heading" role="tab">
      <h4 class="panel-title">
        <a data-target="#map_product_list_{{ map_set.id }}" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" ng-class="isCollapsed ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" data-parent="#map-set-list">      {{ map_set.name }}</a>
      </h4>
    </div>
    <div id="map_product_list_{{ map_set.id }}" class="panel-collapse collapse" role="tabpanel">
      <div class="mp_list_body panel-body">
        <div ng-repeat="map_product in map_set.map_products" class="map-product panel">
          <div class="map-product-title col-md-12">
            <strong data-target="#map_product_{{ map_product.id }}" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" ng-class="isCollapsed ? 'fa fa-chevron-down' : 'fa fa-chevron-right'">{{item.activation_id}}_{{map_product.type}}</strong>
            <div ng-if="detail_page==true" class="pull-right">
              <button type="button" class="btn btn-xs btn-info" ng-click="zoom_to_mp(map_product.id)">Zoom</button>
              <button type="button" class="btn btn-xs btn-info" ng-click="add_mp_layers(map_product.id)">Show layers</button>
            </div>
          </div>
          <ul id="map_product_{{ map_product.id }}" class="list-group panel-collapse collapse" role="tabpanel">
            <li class="col-md-12 list-group-item" ng-repeat="layer in map_product.layers">

              <a target="_blank" href="{{ layer.detail_url }}">{{ layer.title | limitTo: 30}}</a>
              
              <a ng-href="{{geoserver_public_url}}wfs?format_options=charset%3AUTF-8&typename={{layer.typename }}&outputFormat=SHAPE-ZIP&version=1.0.0&service=WFS&request=GetFeature"><span class="pull-right btn-default btn btn-xs fa fa-lg fa-cloud-download" title="Download"></a>
              </span>
              <span id="{{ layer.id }}" data="item" ng-class="cart.getFaClass(layer.id)" class="pull-right btn-default btn btn-xs fa fa-lg" ng-click="cart.toggleItem(layer)" title="Add/remove from composer">
              </span>
              <span ng-if="detail_page==true" ng-class="getFaClass(layer.id)" class="btn btn-default btn-xs pull-right fa" id="layer_{{ layer.id }}" ng-click="toggle_layer(map_product.id, layer.id, $event)" title="Add/remove from map">
              </span>

            
            </li>
          </ul>
        </div>
      </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->
  </div> <!-- panel-default -->
</div>
