<div id="composerCart" class="col-md-12">
    <h4>Map composer</h4>
    <p ng-show="!cart.getCart().items.length">
        Add layers from the "Map Sets" tabs.
    </p>
    <table class="table table-striped">
        <tr ng-repeat="layer in cart.getCart().items">
            <td>{{ layer.title }}<button class="btn btn-default btn-xs pull-right" ng-click="cart.removeItem(layer)">X</button></td>
        </tr>
    </table>
    <button class="btn btn-default btn-xs" ng-disabled="!cart.getCart().items.length" ng-click="newMap()">Make your map!</button>
</div>