
  <!-- tab -->
    <strong class="ms-title list-group-item-heading">
      {{map_product.type}}
      <button ng-if="has_map" type="button" ng-init="action = true" class="btn btn-xs btn-info pull-right" ng-click="toggleMapProductLayers(action, item.id, map_product.id); action = !action" ng-bind-html="action ? 'Show layers' : 'Hide layers'"></button> 
      <button ng-if="has_map" type="button" class="btn btn-xs btn-info pull-right" ng-click="zoomToMapProduct(item.id, map_product.id)" style="margin-right: 5px">Zoom</button>     
    </strong>
    


  <!-- tabpanel -->
  <div id="map_product_{{ map_product.id }}"  class="list-group sortable map-product-layers">
      <div class="list-group-item" ng-repeat="layer in map_product.layers" data-layer-id="{{layer.id}}" data-activation-id="{{ item.id }}">
        
        <a ng-if="!has_map" target="_blank" href="{{ layer.detail_url }}" title="{{ layer.title }}">{{ layer.title | limitTo: 55}}{{ layer.title.length > 55 ? '...' : '' }}</a>
        <a ng-if="has_map" target="_blank" href="{{ layer.detail_url }}" title="{{ layer.title }}">{{ layer.title | limitTo: 20}}{{ layer.title.length > 20 ? '...' : '' }}</a>
        
        <a ng-if="layer.storeType=='dataStore'" ng-href="{{geoserver_public_url}}wfs?format_options=charset%3AUTF-8&typename={{ layer.typename }}&outputFormat=SHAPE-ZIP&version=1.0.0&service=WFS&request=GetFeature" class="pull-right btn-default btn btn-xs fa fa-lg fa-cloud-download" target="_blank" title="Download">
        </a>
        <div ng-if="has_cart" id="{{ layer.id }}" ng-class="cart.getFaClass(layer.id)" class="pull-right btn-default btn btn-xs fa fa-lg" ng-click="cart.toggleItem(layer)" title="Add/remove from composer">
        </div>
        <div ng-if="has_map" ng-class="getFaClass(item.id, layer.id)" class="btn btn-default btn-xs pull-right fa" id="layer_{{ layer.id }}" ng-click="toggleLayer(item.id, layer, $event)" title="Add/remove from map">
        </div>
        <div type="button" class="btn btn-default btn-xs pull-right fa tms-link" data-container="body" data-toggle="popover" title="TMS url" data-content="http://tiles.copernicus-ems.eu/cache/layers/{{layer.id}}">TMS</div>
    </div>
  </div> <!-- list-group -->
