<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="" />
    <meta name="Description" content="" />
    <meta name="Creator" content="">
    <meta http-equiv="Content-Language" content="en">
    <meta name="Classification" content="26">
    <meta name="Date" content="10/09/2016">
    <meta name="viewport" content="width=device-width">

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Object.assign"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/composer.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/components.min.css">

    <title>{{ SITE_NAME }}</title>
</head>
<body>
    <div id="main">

    </div>
    <script type="text/javascript">
        ACTIVATIONS_API = '{% url 'api_dispatch_list' api_name='api' resource_name='activations' %}';
        AW_ZIPFILE_URL = '{{ AW_ZIPFILE_URL }}';
        SITE_URL = '{{ SITEURL }}';
    </script>
    {% if DEBUG_REACT %}
    <script src="http://localhost:3000/loader.js"></script>
    <script src="http://localhost:3000/build/composer-debug.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}js/app/dist/composer.js"></script>
    {% endif %}
</body>
</html>
