{% extends 'index.html' %}
{% load i18n %}
{% load base_tags %}

  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Activation Viewer" %}</h1>
      <p>{% blocktrans %}The Activation Viewer is a test system that helps in use, share and consume the vector data and raster tiles of Aerial Imagery produced within the Copernicus Emergency Mapping Service. This is a non permanent portal dedicated to the Earthquake in Central Italy <a href="http://emergency.copernicus.eu/mapping/list-of-components/EMSR177">EMSR177</a>{% endblocktrans %}</p>
      <p>This platform belongs to the European Commissions and is ran by the GEMMA project, part of the Disaster Risk Management Unit.</p>
    </div>
  </div>
  {% endblock %}
{% block mainbody %}
  <div class="container">
    <div class="row home-facets">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p> 
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
        <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        
        <p><a href="{% url "activation_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "activation_browse" %}">{{ activations_count|default:_("No") }} {% blocktrans count counter=activations_count %}Activation{% plural %}Activations{% endblocktrans %}</a></h2>
        <p>{% trans "Explore the list of all the Activations using a dedicates search engine." %}</p>
        <p><a class="btn btn-default" href="{% url "activation_browse" %}" role="button">{% trans "Explore activations" %} &raquo;</a></p>
        
      </div>
    {% endwith %}
    </div>
  </div>
  {% endblock %}