{% extends 'index.html' %}
{% load i18n %}
{% load base_tags %}

{% block title %} {{ SITE_NAME }} {% endblock %}

  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Activation Viewer - Beta Version" %}</h1>
      <p>{% blocktrans %}The Activation Viewer is a test system that helps to use, share and consume the vector data and raster tiles of aerial imagery produced within the Copernicus Emergency Mapping Service. This GeoNode instance is dedicated to the Earthquake in Central Italy, Activation code <a href="http://emergency.copernicus.eu/mapping/list-of-components/EMSR177">EMSR177</a>.{% endblocktrans %}</p>
      <p>This platform belongs to the European Commission, Joint Research Centre and is run by the GEMMA project, Disaster Risk Management Unit.</p>
      <br>
      <p class="home-facets"><span class="col-md-6"><a href="mailto:ems-rapid-mapping@jrc.ec.europa.eu?subject=Activation Viewer Feedback">Please send us your feedback</a></span><span class="col-md-6"><a href="http://viewer.copernicus-ems.eu/documents/92/download">How to</a></span></p>
    </div>
  </div>
  {% endblock %}
{% block mainbody %}
  <div class="container">
    <p>Any use of the data shared in this platform must cite the source in the following form "Copernicus Emergency Management Service (&copy; 2016 European Union) <a href="http://emergency.copernicus.eu/mapping/list-of-components/EMSR177" target="_blank">[EMSR177] Earthquake in Central Italy</a>, Aerial Data Provided by <a href="http://www.cgrspa.com" target="_blank">CGR Spa</a>"</p>
    <div class="row home-facets">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-6"> 
        <p><a href="{% url "activation_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "activation_browse" %}">{{ activations_count|default:_("No") }} {% blocktrans count counter=activations_count %}Activation{% plural %}Activations{% endblocktrans %}</a></h2>
        <p>{% trans "Explore the list of all the Activations using a dedicates search engine." %}</p>
        <p><a class="btn btn-default" href="{% url "activation_browse" %}" role="button">{% trans "Explore activations" %} &raquo;</a></p> 
      </div>
      <div class="col-md-6">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p> 
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div>
  {% endblock %}